@page "/"
@using System.ComponentModel.DataAnnotations
@inject IHttpService HttpService
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager

@if (AuthenticationService.User == null)
{
  <div class="container-fluid">
  <h1>Welcome To The Slate!</h1>
  <div class="container">
    <h3>Please Register a new account or Login to continue...</h3>
  </div>
  <div class="container">
    <h2>Login</h2>
    <section>
      <EditForm Model="@model" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <section>
          <label>Username</label>
          <InputText @bind-Value="model.Email" type="text" />
          <ValidationMessage For="@(() => model.Email)" />
        </section>
        <section>
          <label>Password</label>
          <InputText @bind-Value="model.Password" type="password" class="form-control" />
          <ValidationMessage For="@(() => model.Password)" />
        </section>
        <button class="btn btn-primary">
          @if (loading)
            {
              <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Login
          </button>
          @if (!string.IsNullOrEmpty(error))
          {
            <div class="alert alert-danger mt-3 mb-0">@error</div>
          }
        </EditForm>
      </section>
    </div>
  </div>
}
else
{
  <h1>Slate Whiteboarding Home</h1>
  <h2>Welcome, @AuthenticationService.User.Name</h2>

  <a href="/board/test">Open Test</a>
  <button @onclick="CreateNewBoard">New Board</button>

  <div class="">
  <h3>Owned Boards:</h3>
  @if (AuthenticationService.User.BoardsOwned?.Count != 0)
    {
      @foreach (Board b in AuthenticationService.User.BoardsOwned)
      {
        <a href="/board/@b.Id">@b.Name</a>
      }
    }
    else
    {
      <h4>You don't have any boards yet.</h4>
    }
  </div>
  <div class="">
  <h3>Boards You Can Edit:</h3>
  @if (AuthenticationService.User.BoardsEditable?.Count != 0)
    {
      @foreach (Board b in AuthenticationService.User.BoardsEditable)
      {
        <a href="/board/@b.Id">@b.Name</a>
      }
    }
    else
    {
      <h4>No boards you can edit found.</h4>
    }
  </div>
}


@code {
  private Model model = new();
  private bool loading;
  private string error;

  private async void HandleValidSubmit()
  {
    loading = true;
    try
    {
      await AuthenticationService.Login(model.Email, model.Password);
      var returnUrl = NavigationManager.QueryString("returnUrl") ?? "";
      NavigationManager.NavigateTo(returnUrl);
    }
    catch (Exception ex)
    {
      error = ex.Message;
      loading = false;
      StateHasChanged();
    }
  }

  public void CreateNewBoard()
  {
    HttpService.Post<Board>("/boards", new { ownerId = AuthenticationService.User.Id });
  }

  private class Model
  {
    [Required]
    public string Email { get; set; }

    [Required]
    public string Password { get; set; }
  }
}